:root {
  --heading-font-family: ("Poppins", sans-serif);
  --default-font-family: ("Open Sans", sans-serif);

  /* Primary Color */
  --Pink: hsl(322, 100%, 66%);

  /* Neutral Colors */
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

body {
  font-size: 18px;
}
.container {
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
}

.hero {
  background-image: url("/images/bg-hero-desktop.svg");
  background-color: var(--Very-Pale-Cyan);
  padding: 20px 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.hero .row {
  margin: 40px;
}

.first-get-started {
  margin-top: 90px;
  padding: 0px 20px;
  font-family: var(--default-font-family);
}
.header img {
  height: 30px;
}

.btn-light {
  width: 180px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: white;
  padding: 10px 0px;
  color: var(--Very-Dark-Cyan);
  font-size: 13px;
  font-weight: bold;
}

.first-get-started h1 {
  font-size: 34px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}
.first-get-started p {
  font-size: 17px;
  opacity: 0.8;
  line-height: 1.5;
}

.get-started-btn {
  width: 250px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: var(--Pink);
  padding: 15px 0px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.feature-blocks {
  padding: 50px;
}
.first-block,
.second-block,
.third-block {
  border: 80px solid #ffffff;
  border-radius: 22px;
  box-shadow: 10px -6px 20px rgba(152, 150, 150, 0.2);
}

.first-block,
.second-block,
.third-block {
  margin: 0px 80px;
  padding: 30px;
}

.first-block img,
.third-block img {
  width: 350px;
  margin: -50px 180px;
}
.first-block h2,
.second-block h2,
.third-block h2 {
  font-size: 26px;
  color: var(--Very-Dark-Cyan);
  font-weight: bold;
}

.first-block p,
.second-block p,
.third-block p {
  font-size: 18px;
  opacity: 0.6;
  line-height: 1.4;
}

.first-block {
  margin-top: 50px;
}
.second-block,
.third-block {
  margin-top: 40px;
}
.third-block {
  margin-bottom: 50px;
}
.second-block img {
  width: 350px;
  margin: -50px -60px;
}

.fourth-block {
  border: 80px solid #ffffff;
  border-radius: 22px;
  box-shadow: 10px -6px 20px rgba(152, 150, 150, 0.2);
  margin: 0px 350px;
  display: inline-block;
  position: relative;
  margin-bottom: -70px;
}
.fourth-block h2 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: var(--Very-Dark-Cyan);
}

.footer-btn {
  width: 380px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: var(--Pink);
  padding: 20px 0px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 80px;
}

footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  padding: 100px;
}

footer .row {
  margin-top: 90px;
  font-size: 16px;
}

.location,
.phone,
.email {
  display: flex;
}

.icon-phone,
.icon-location,
.icon-email {
  margin-bottom: 23px;
  height: 20px;
}
.location p,
.phone p,
.email p {
  margin: 0px 20px;
}

li {
  list-style: none;
  display: list-item;
  margin: 40px 0px;
}

footer .social-links a {
  margin: 0px 13px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
}

.social-links {
  margin: 40px 0px;
}

footer .copy {
  font-size: 13px;
  margin: 0px 950px;
}

.get-started-btn:hover,
.footer-btn:hover {
  background-color: hsl(322, 95%, 84%);
  border: 1px solid rgba(255, 255, 255, 0.907);
}

.btn-light:hover {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.907);
  color: rgb(196, 196, 196);
}

@media screen and (min-width: 360px) and (max-width: 900px) {
  body {
    position: relative;
  }

  html,
  body {
    overflow-x: hidden;
  }
  .container {
    margin: 0px;
    padding: 0px;
  }
  .header {
    margin: 0px 13px;
  }

  .header img {
    height: 15px;
  }
  .hero .row {
    margin: 0px;
  }
  .header button {
    margin-right: -40px;
    width: 120px;
    padding: 3px 0px;
    margin-top: 20px !important;
  }

  .first-get-started h1 {
    font-size: 24px;
    text-align: center;
  }
  .first-get-started p {
    text-align: center;
    font-size: 15px;
  }
  .get-started-btn {
    padding: 10px 0px;
    margin-bottom: 60px;
    margin-left: 20px;
  }
  .feature-blocks {
    padding: 20px;
  }
  .first-block,
  .second-block,
  .third-block {
    margin: 0px 0px;
  }
  .first-block {
    margin-top: 50px !important;
  }
  .second-block,
  .third-block {
    margin-top: 40px;
  }
  .first-block,
  .second-block,
  .third-block {
    border: 10px solid #ffffff;
  }
  .first-block img,
  .second-block img,
  .third-block img {
    margin: 0px 0px;
  }
  .first-block h2,
  .second-block h2,
  .third-block h2 {
    font-size: 20px;
    text-align: center;
  }
  .first-block p,
  .second-block p,
  .third-block p {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
  }
  .third-block {
    margin-bottom: 50px;
  }
  .fourth-block {
    width: 340px;
    border: 20px solid #ffffff;
    margin-left: 20px !important;
    margin-bottom: -20px !important;
    margin: 0px 0px;
  }
  .fourth-block h2 {
    margin-bottom: 30px !important;
    margin-top: 20px;
    font-size: 16px;
  }

  .footer-btn {
    margin-bottom: 30px !important;
    width: 220px;
    padding: 12px 0px;
    font-size: 12px;
    margin: 0px 35px;
  }
  footer {
    padding: 30px;
  }
  footer p,
  footer ul {
    font-size: 15px;
  }

  footer .row {
    margin-top: 40px;
  }

  .logo-white {
    width: 50%;
  }

  footer li {
    margin: 20px -10px;
  }
  .social-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
  }
  footer .social-links a {
    margin: 0px 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  footer .copy {
    text-align: center;
    font-size: 12px;
    margin: 0px;
  }
}
