:root {
  --heading-font-family: ("Poppins", sans-serif);
  --default-font-family: ("Open Sans", sans-serif);

  /* Primary Color */
  --Pink: hsl(322, 100%, 66%);

  /* Neutral Colors */
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

body {
  font-size: 18px;
}
.container {
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
}

.hero {
  background-image: url("/images/bg-hero-desktop.svg");
  background-color: var(--Very-Pale-Cyan);
  padding: 20px 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.hero .row {
  margin: 40px;
}

.first-get-started {
  margin-top: 90px;
  padding: 0px 20px;
  font-family: var(--default-font-family);
}
.header img {
  height: 30px;
}

.btn-light {
  width: 180px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: white;
  padding: 10px 0px;
  color: var(--Very-Dark-Cyan);
  font-size: 13px;
  font-weight: bold;
}

.first-get-started h1 {
  font-size: 34px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}
.first-get-started p {
  font-size: 17px;
  opacity: 0.8;
  line-height: 1.5;
}

.get-started-btn {
  width: 250px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: var(--Pink);
  padding: 15px 0px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.feature-blocks {
  padding: 50px;
}
.first-block,
.second-block,
.third-block {
  border: 80px solid #ffffff;
  border-radius: 22px;
  box-shadow: 10px -6px 20px rgba(152, 150, 150, 0.2);
}

.first-block,
.second-block,
.third-block {
  margin: 0px 80px;
  padding: 30px;
}

.first-block img,
.third-block img {
  width: 350px;
  margin: -50px 180px;
}
.first-block h2,
.second-block h2,
.third-block h2 {
  font-size: 26px;
  color: var(--Very-Dark-Cyan);
  font-weight: bold;
}

.first-block p,
.second-block p,
.third-block p {
  font-size: 18px;
  opacity: 0.6;
  line-height: 1.4;
}

.first-block {
  margin-top: 50px;
}
.second-block,
.third-block {
  margin-top: 40px;
}
.third-block {
  margin-bottom: 50px;
}
.second-block img {
  width: 350px;
  margin: -50px -60px;
}

.fourth-block {
  border: 80px solid #ffffff;
  border-radius: 22px;
  box-shadow: 10px -6px 20px rgba(152, 150, 150, 0.2);
  margin: 0px 350px;
  display: inline-block;
  position: relative;
  margin-bottom: -200px;
}
.fourth-block h2 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: var(--Very-Dark-Cyan);
}

.footer-btn {
  width: 380px;
  border-radius: 55px;
  border: 1px solid rgba(255, 255, 255, 0.907);
  background-color: var(--Pink);
  padding: 20px 0px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 80px;
}

footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  padding: 100px;
}
